doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title PlayGround
    body
        header
            h1 It's PlayGround!
        main
            h2
                span Welcome to PlayGround!! -
                a(href="/") Back
            br
            h2
                a(href="/tictactoe") TicTacToe
                br